<nav>
    <div class="navbar">
        <i style="color: #000000; cursor: pointer; font-size: large;" class="fas fa-arrow-left" onclick="window.history.back()"></i>
        <h2 style="color: #000000;"><%= title %></h2>
    </div>