<header>
    <div class="header">
        <a href="/">
            <h2 class="title">The Style Diaries</h2>
        </a>
        <div class="search-container">
            <div class="search-box">
                <i class="fas fa-search search-icon"></i>
                <form action="/search/0" method="post">
                    <input type="search" class="search-input" name="search" placeholder="Search...">
                </form>
            </div>
            <i class="fa fa-shopping-cart" style="color: #ffffff; position: relative; left: 12px; font-size: 18px;" onclick="window.location.href='/shop/Cart'"></i><span class="cart-quantity" style="position: relative; left: 5px;"><%= cartCount.total_items %></span>
            <i class="fas fa-user user-icon" onclick="window.location.href='/user/profile'"></i>
        </div>
    </div>
</header>