<header>
    <div class="header">
        <a href="/">
            <h2 class="title">The Style Diaries</h2>
        </a>
        <div class="search-container">
            <div class="search-box">
                <i class="fas fa-search search-icon"></i>
                <input type="search" class="search-input" name="search" placeholder="Search...">
            </div>
            <i class="fas fa-user user-icon" onclick="window.location.href='/user/profile'"></i>
        </div>
    </div>
</header>