<%- include ('partials/indexTop') %>
    <%- include ('partials/header') %>
    
    <!-- Fashion -->
    <section id="fashion" class="fashion-container" style="max-width: 1900px; margin-top: 80px;">
        <div class="fashion-cards">
            <% fashions.forEach((fashion) => { %>
                <img src="<%= fashion.image_url %>" alt="Fashion Image">
            <% }) %>
        </div>
      </section>

<%- include ('partials/indexBottom') %>