.cart-quantity {
    position: relative;
    bottom: 10px;
    right: 8px;
    background-color: #1f2937;
    color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px;
}

.cart-text {
    position: relative;
    right: 8px;
}

.products {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}
  
.product-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    flex: 0 0 250px;  /* prevent shrinking */
    min-width: 250px; /* ensure consistent width */
    max-width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.product-card img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}
  
.product-card h3 {
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
}
  
.product-card p {
    font-size: 14px;
    color: #6b7280;
    text-align: left;
}
  
.product-card input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.main-scrollable {
    flex: 1;
    overflow-y: auto;
    height: 100vh;
}